{% extends 'base.html.twig' %}





{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-succes">
            {{ message }}
        </div>
    {% endfor %}

       
        <div> Date du jour {{"now" |date('Y:m:d') }}</div>
        <div>Participant:</div>

    <h2>Filtrer les sortie</h2>
    <button>Rechercher</button>


{% endblock %}



{% block title %}

    {{ parent() }} | Home

{% endblock %}