{% extends 'base.html.twig' %}





{% block body %}


       
        <div> Date du jour {{"now" |date('Y:m:d') }}</div>
        <div>Participant:{{ app.user.pseudo }}</div>

    <h2>Filtrer les sortie</h2>
    <button>Rechercher</button>


{% endblock %}



{% block title %}

    {{ parent() }} | Home

{% endblock %}