{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
<main>
    <div class="container">
        <h1>Mon profil</h1>


        {{ form_start(ProfilType) }}

        {{ form_widget(ProfilType) }}
         <button type="submit">Enregistrer</button>
        <button type="submit" class="btn">Annuler</button>
        {{ form_end(ProfilType) }}

    </div>
</main>
{% endblock %}