{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<main>
    <div class="container">
        <h1>Ma sortie</h1>

        {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}


        <button type="submit" class="btn btn-lg btn-primary">Enregistrez</button>
        {{ form_end(sortieForm) }}
    </div>
</main>
{% endblock %}
