<nav>
    <ul>
        <li><a href="#" title="campus">Campus</a></li>
        <li><a href="{{ path('main_accueil') }}" title="acceuil">Accueil</a></li>
        <li><a href="#" title="villes">Villes</a></li>
        <li><a href="{{ path('app_register') }}" title="profil">Mon Profil</a></li>
        <li><a href="{{ path('app_logout') }}" title="deconnexion">Se déconnecté</a></li>
        <li><a href="{{ path('sortie_creation') }}" title="creation">Créer une sortie</a></li>

    </ul>
</nav>