<nav>
    <ul>
        <li><a href="#" title="campus">Campus</a></li>
        <li><a href="{{ path('main_accueil') }}" title="acceuil">Accueil</a></li>
        <li><a href="#" title="villes">Villes</a></li>
        <li><a href="#" title="profil">Mon Profil</a></li>
        <li><a href="#" title="deconnexion">Se déconnecté</a></li>
    </ul>
</nav>